<!doctype html>
<html>
<head>
	<link href="{{ url_for('static', filename='overall_stats.css') }}" rel="stylesheet" type="text/css" >	
</head>
<body style="font-family:arial, sans-serif">
	<div class='page_container'>
		<div class='chart_container'>
			<div class='pr_wr_container'>
				<div class='half_container'>
 		   			<div id="pr_chart"></div>
				</div>
				<div class='half_container'>
 		   			<div id="wr_chart"></div>
				</div>
			</div>
			<div class='mu_container'>
				<div id="mu_chart" style="height:700px;"></div>
			</div>
		</div>
	</div>
</body>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    var wr_graph = {{wr_graph_json | safe}};
    Plotly.plot('wr_chart',wr_graph,{});        
    var pr_graph = {{pr_graph_json | safe}};
    Plotly.plot('pr_chart',pr_graph,{});        
    var mu_graph = {{mu_graph_json | safe}};
    Plotly.plot('mu_chart',mu_graph,{});        
</script>
</html>